<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamY.angryBox.mapper.NotificationMapper">

<!--    추가 -->
    <insert id="sendNtf" parameterType="NotificationDTO">
        INSERT INTO notification(diary_id, send_member_id, receive_member_id, content) VALUES(#{diaryId}, #{sendMemberId}, #{receiveMemberId}, #{content})
    </insert>

<!--    확인 여부 업데이트 -->
    <update id="updateNtf" parameterType="int">
        UPDATE notification SET checked = #{checked} WHERE id = #{ntfId}
    </update>

<!--    알림의 다이어리 ID 조회 -->
    <select id="selectDiaryIdInNtf" parameterType="int" resultType="int">
        SELECT diary_id FROM notification WHERE id = #{ntfId}
    </select>

<!--    알림 목록 조회 -->
    <select id="selectNftList" parameterType="int" resultType="NotificationDTO">
        SELECT id, diary_id, content, date_time, checked
        FROM notification
        WHERE receive_member_id = #{memberId} AND id <![CDATA[<]]> #{lastNtfId}
        ORDER BY id desc
        LIMIT #{size};
    </select>

<!--    알림 마지막 id 조회-->
    <select id="selectLastIdInNtf" parameterType="int" resultType="int">
        SELECT IFNULL(MAX(id), -1)
        FROM notification
        WHERE receive_member_id = #{memberId};
    </select>
    
<!--    알림 받은 게시글 존재 여부 확인 -->
    <select id="checkDiaryIdInNtf" parameterType="int" resultType="int">
        SELECT IFNULL(d.id, 0) AS diary_id
        FROM notification AS n
            LEFT JOIN diary AS d
                ON d.id = n.diary_id
        WHERE n.id = #{ntfId};
    </select>

<!--    알림 받은 사용자 id 확인 -->
    <select id="checkMemberIdInNtf" parameterType="int" resultType="int">
        SELECT IFNULL(MAX(receive_member_id), 0) FROM notification WHERE id = #{ntfId}
    </select>





</mapper>