<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamY.angryBox.mapper.ProfileMapper">

    <select id = "selectJoinedProfile" resultType="ProfileJoinVO">
        SELECT p.id, m.id as member_id, email, nickname, diary_count, send_todack_count, receive_todack_count, last_login, f.id as file_id, original_file_name, system_file_name
        FROM profile as p
                 INNER JOIN member as m ON p.member_id = m.id
                 INNER JOIN file as f ON p.file_id = f.id
        WHERE p.member_id = #{id} and f.id = p.file_id;
    </select>
    <insert id = "insertProfile" parameterType="ProfileVO">
        INSERT INTO profile(member_id, file_id)
        VALUES (#{memberId}, #{fileId})
    </insert>

    <select id = "selectProfileByMemberId" resultType="ProfileVO">
        SELECT id, member_id, file_id
        FROM profile
        WHERE member_id = #{id}
    </select>

    <update id="updateProfileImage">
        UPDATE profile
        SET file_id = #{fileId}
        WHERE id = #{id}
    </update>
</mapper>