<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamY.angryBox.mapper.TodackMapper">


<!--    토닥 증가 -->
    <insert id="upTodackCount" parameterType="TodackVO" statementType="CALLABLE">
        { CALL UP_TODACK( #{diaryId}, #{sendMemberId}, #{receiveMemberId} ) }
    </insert>

<!--    토닥 감소-->
    <delete id="downTodackCount" parameterType="TodackVO" statementType="CALLABLE">
        { CALL DOWN_TODACK( #{diaryId}, #{sendMemberId}, #{receiveMemberId} ) }
    </delete>


<!--    토닥 보내기 및 취소 중복 확인 -->
    <select id="checkSendTodack" parameterType="int" resultType="int">
        SELECT COUNT(*)
        FROM todacktodack
        WHERE member_id = #{memberId} AND diary_id = #{diaryId} AND send_receive = 0;
    </select>

</mapper>